<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Cấu hình Entity Framework -->
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<!-- Kết nối tới database -->
	<connectionStrings>
		<add name="QuanLyBenhNhanEntities"
			 connectionString="metadata=res://*/DG_QuanLyBenhNhan.csdl|res://*/DG_QuanLyBenhNhan.ssdl|res://*/DG_QuanLyBenhNhan.msl;
         provider=System.Data.SqlClient;
         provider connection string=&quot;
         data source=(LocalDB)\MSSQLLocalDB;
         attachdbfilename=|DataDirectory|\QuanLyBenhNhan.mdf;
         integrated security=True;
         connect timeout=30;
         MultipleActiveResultSets=True;
         App=EntityFramework&quot;"
			 providerName="System.Data.EntityClient" />
	</connectionStrings>

	<!-- Cấu hình Entity Framework -->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient"
					  type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>
